@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --primary-color: #B9001F;
    --second-color: #90182C;
}

body{
    font-family: 'Poppins', sans-serif;
}